In [1]:
import pandas as pd

### Load Data sesuai file ekstensinya

In [11]:
df_student = pd.read_csv('dataset/StudentsPerformance.csv')

In [12]:
df_student

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/ardhiraka/PFDS_sources/master/nbaallelo.csv')

In [14]:
df.shape

(126314, 23)

In [16]:
df.head(10)

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,...,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,...,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,...,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,...,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN
5,3,194611020DTF,NBA,1,1947,11/2/1946,1,0,WSC,Capitols,...,43.135952,DTF,Falcons,33,1300.0000,1279.6189,A,W,0.359935,NaN
6,4,194611020PRO,NBA,1,1947,11/2/1946,1,0,BOS,Celtics,...,40.459381,PRO,Steamrollers,59,1300.0000,1305.1542,A,L,0.359935,NaN
7,4,194611020PRO,NBA,0,1947,11/2/1946,1,0,PRO,Steamrollers,...,41.540619,BOS,Celtics,53,1300.0000,1294.8458,H,W,0.640065,NaN
8,5,194611020STB,NBA,1,1947,11/2/1946,1,0,PIT,Ironmen,...,40.507980,STB,Bombers,56,1300.0000,1304.6908,A,L,0.359935,NaN
9,5,194611020STB,NBA,0,1947,11/2/1946,1,0,STB,Bombers,...,41.492020,PIT,Ironmen,51,1300.0000,1295.3092,H,W,0.640065,NaN

In [17]:
pd.set_option('display.max_columns', None) # Menampilkan columns yang terlihat, misalnya disembunyikan dalam ...

In [18]:
df.head(7)

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.0000,1293.2767,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.0000,1306.7233,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,1300.0000,1309.6521,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,1306.7233,1297.0712,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1300.0000,1279.6189,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN
5,3,194611020DTF,NBA,1,1947,11/2/1946,1,0,WSC,Capitols,50,1300.0000,1320.3811,43.135952,DTF,Falcons,33,1300.0000,1279.6189,A,W,0.359935,NaN
6,4,194611020PRO,NBA,1,1947,11/2/1946,1,0,BOS,Celtics,53,1300.0000,1294.8458,40.459381,PRO,Steamrollers,59,1300.0000,1305.1542,A,L,0.359935,NaN

In [19]:
df.tail()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,82,1723.4149,1704.3949,60.309792,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,104,1809.9791,1813.6349,68.013329,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,91,1704.3949,1700.7391,60.010067,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,97,1700.7391,1692.0859,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,105,1813.6349,1822.2881,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550,NaN

In [20]:
#cari tipe data ygy...ahahaha gblog
df.info() #kalo keluar output berlebih, klik in a text editor

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  elo_i          126314 non-null  float64
 12  elo_n          126314 non-null  float64
 13  win_equiv      126314 non-null  float64
 14  opp_id         126314 non-null  object
 15  opp_fran       126314 non-null  object
 16  opp_pts        126314 non-null  int64
 17  opp_elo_i      126314 non-null  float64
 18  opp_elo_n      126314 non-null  float64
 19  game_location  126314 non-null  object
 20  game_result    126314 non-null  object
 21  forecast       126314 non-null  float64
 22  notes          5424 non-null    object
dtypes: float64(6), int64(7), object(10)
memory usage: 22.2+ MB

In [21]:
#data statistik singkat, hanya yang memiliki tipe data integer
df.describe()

,gameorder,_iscopy,year_id,seasongame,is_playoffs,pts,elo_i,elo_n,win_equiv,opp_pts,opp_elo_i,opp_elo_n,forecast
count,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000
mean,31579.000000,0.500000,1988.200374,43.533733,0.063857,102.729982,1495.236055,1495.236055,41.707889,102.729982,1495.236055,1495.236055,0.500000
std,18231.927643,0.500002,17.582309,25.375178,0.244499,14.814845,112.139945,112.461687,10.627332,14.814845,112.139945,112.461687,0.215252
min,1.000000,0.000000,1947.000000,1.000000,0.000000,0.000000,1091.644500,1085.774400,10.152501,0.000000,1091.644500,1085.774400,0.020447
25%,15790.000000,0.000000,1975.000000,22.000000,0.000000,93.000000,1417.237975,1416.994900,34.103035,93.000000,1417.237975,1416.994900,0.327989
50%,31579.000000,0.500000,1990.000000,43.000000,0.000000,103.000000,1500.945550,1500.954400,42.113357,103.000000,1500.945550,1500.954400,0.500000
75%,47368.000000,1.000000,2003.000000,65.000000,0.000000,112.000000,1576.060000,1576.291625,49.635328,112.000000,1576.060000,1576.291625,0.672011
max,63157.000000,1.000000,2015.000000,108.000000,1.000000,186.000000,1853.104500,1853.104500,71.112038,186.000000,1853.104500,1853.104500,0.979553

In [25]:
df['team_id'].value_counts() #seberapa sering spesifik value muncul pada column sesuai team_id

BOS    5997
NYK    5769
LAL    5078
DET    4985
PHI    4533
       ...
INJ      60
PIT      60
DTF      60
TRH      60
SDS      11
Name: team_id, Length: 104, dtype: int64

In [31]:
# menampilkan data yang team_id adalah TRH
df.loc[df['team_id'] == 'TRH']

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.0000,1293.2767,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
10,6,194611030CLR,NBA,1,1947,11/3/1946,2,0,TRH,Huskies,60,1293.2767,1286.1534,39.548164,CLR,Rebels,71,1300.0000,1307.1233,A,L,0.351068,NaN
24,13,194611080TRH,NBA,0,1947,11/8/1946,3,0,TRH,Huskies,73,1286.1534,1289.1691,39.864174,DTF,Falcons,71,1271.4624,1268.4468,H,W,0.659309,NaN
26,14,194611090CHS,NBA,1,1947,11/9/1946,4,0,TRH,Huskies,54,1289.1691,1283.6519,39.286152,CHS,Stags,62,1309.7350,1315.2522,A,L,0.333136,NaN
49,25,194611150TRH,NBA,0,1947,11/15/1946,5,0,TRH,Huskies,85,1283.6519,1294.7554,40.449894,PRO,Steamrollers,68,1313.4436,1302.3401,H,W,0.599685,NaN
50,26,194611160BOS,NBA,1,1947,11/16/1946,6,0,TRH,Huskies,49,1294.7554,1290.0051,39.951809,BOS,Celtics,53,1267.1501,1271.9004,A,L,0.397298,NaN
64,33,194611180PIT,NBA,1,1947,11/18/1946,7,0,TRH,Huskies,48,1290.0051,1284.4910,39.374023,PIT,Ironmen,54,1274.5563,1280.0704,A,L,0.380668,NaN
69,35,194611190TRH,NBA,0,1947,11/19/1946,8,0,TRH,Huskies,72,1284.4910,1278.2225,38.718002,CLR,Rebels,74,1307.6647,1313.9331,H,L,0.608795,NaN
83,42,194611220TRH,NBA,0,1947,11/22/1946,9,0,TRH,Huskies,83,1278.2225,1280.6818,38.975250,BOS,Celtics,82,1257.9297,1255.4705,H,W,0.666514,NaN
91,46,194611230WSC,NBA,1,1947,11/23/1946,10,0,TRH,Huskies,50,1280.6818,1271.4497,38.010517,WSC,Capitols,74,1344.4468,1353.6788,A,L,0.280354,NaN
104,53,194611260TRH,NBA,0,1947,11/26/1946,11,0,TRH,Huskies,68,1271.4497,1260.3845,36.858685,WSC,Capitols,78,1353.6788,1364.7440,H,L,0.525552,NaN
120,61,194611290TRH,NBA,0,1947,11/29/1946,12,0,TRH,Huskies,72,1260.3845,1243.6194,35.126602,CLR,Rebels,87,1296.5641,1313.3292,H,L,0.590826,NaN
124,63,194611300PRO,NBA,1,1947,11/30/1946,13,0,TRH,Huskies,65,1243.6194,1236.2073,34.367218,PRO,Steamrollers,79,1275.6881,1283.1002,A,L,0.318592,NaN
147,74,194612050CHS,NBA,1,1947,12/5/1946,14,0,TRH,Huskies,65,1236.2073,1247.1405,35.488831,CHS,Stags,61,1317.2023,1306.2690,A,W,0.260785,NaN
157,79,194612070PRO,NBA,1,1947,12/7/1946,15,0,TRH,Huskies,68,1247.1405,1261.6240,36.987415,PRO,Steamrollers,59,1270.5713,1256.0878,A,W,0.329483,NaN
171,86,194612100TRH,NBA,0,1947,12/10/1946,16,0,TRH,Huskies,73,1261.6240,1247.6229,35.538528,PHW,Warriors,85,1308.3997,1322.4008,H,L,0.576002,NaN
185,93,194612130TRH,NBA,0,1947,12/13/1946,17,0,TRH,Huskies,52,1247.6229,1232.2332,33.961941,PIT,Ironmen,62,1225.3917,1240.7815,H,L,0.668990,NaN
197,99,194612150STB,NBA,1,1947,12/15/1946,18,0,TRH,Huskies,50,1232.2332,1243.2317,35.086777,STB,Bombers,46,1315.6809,1304.6824,A,W,0.258073,NaN
201,101,194612170CLR,NBA,1,1947,12/17/1946,19,0,TRH,Huskies,62,1243.2317,1236.3962,34.386520,CLR,Rebels,78,1310.9967,1317.8322,A,L,0.275732,NaN
215,108,194612200TRH,NBA,0,1947,12/20/1946,20,0,TRH,Huskies,74,1236.3962,1242.9735,35.060261,NYK,Knicks,70,1347.1748,1340.5975,H,W,0.484493,NaN
236,119,194612270TRH,NBA,0,1947,12/27/1946,21,0,TRH,Huskies,80,1242.9735,1233.9374,34.135567,CHS,Stags,88,1344.2667,1353.3029,H,L,0.498139,NaN
245,123,194612290DTF,NBA,1,1947,12/29/1946,22,0,TRH,Huskies,52,1233.9374,1244.1897,35.185211,DTF,Falcons,48,1289.3090,1279.0566,A,W,0.290205,NaN
254,128,194612310TRH,NBA,0,1947,12/31/1946,23,0,TRH,Huskies,86,1244.1897,1255.3428,36.335934,CHS,Stags,76,1364.1989,1353.0458,H,W,0.471236,NaN
267,134,194701030TRH,NBA,0,1947,1/3/1947,24,0,TRH,Huskies,53,1255.3428,1243.7212,35.137066,BOS,Celtics,58,1192.7406,1204.3622,H,L,0.718294,NaN
281,141,194701060TRH,NBA,0,1947,1/6/1947,25,0,TRH,Huskies,76,1243.7212,1253.9355,36.190292,DTF,Falcons,61,1273.7080,1263.4937,H,W,0.599415,NaN
284,143,194701080NYK,NBA,1,1947,1/8/1947,26,0,TRH,Huskies,76,1253.9355,1275.9305,38.478409,NYK,Knicks,63,1350.6637,1328.6687,A,W,0.243708,NaN
291,146,194701090GSW,NBA,1,1947,1/9/1947,27,0,TRH,Huskies,55,1275.9305,1266.9520,37.541653,PHW,Warriors,74,1311.1245,1320.1030,A,L,0.314700,NaN
302,152,194701110WSC,NBA,1,1947,1/11/1947,28,0,TRH,Huskies,66,1266.9520,1263.2552,37.156956,WSC,Capitols,81,1445.0814,1448.7782,A,L,0.167836,NaN
312,157,194701140TRH,NBA,0,1947,1/14/1947,29,0,TRH,Huskies,74,1263.2552,1237.1625,34.464828,PHW,Warriors,104,1312.5405,1338.6333,H,L,0.572470,NaN
326,164,194701170TRH,NBA,0,1947,1/17/1947,30,0,TRH,Huskies,64,1237.1625,1224.1240,33.139439,DTF,Falcons,74,1270.5358,1283.5742,H,L,0.594725,NaN
342,172,194701210TRH,NBA,0,1947,1/21/1947,31,0,TRH,Huskies,72,1224.1240,1228.7662,33.609535,STB,Bombers,71,1363.3656,1358.7234,H,W,0.443766,NaN
357,179,194701240TRH,NBA,0,1947,1/24/1947,32,0,TRH,Huskies,93,1228.7662,1221.6459,32.889355,PRO,Steamrollers,96,1257.8400,1264.9603,H,L,0.600676,NaN
372,187,194701270TRH,NBA,0,1947,1/27/1947,33,0,TRH,Huskies,82,1221.6459,1213.5844,32.080246,CLR,Rebels,88,1310.1866,1318.2482,H,L,0.516485,NaN
375,188,194701280CLR,NBA,1,1947,1/28/1947,34,0,TRH,Huskies,70,1213.5844,1209.3862,31.661716,CLR,Rebels,80,1318.2482,1322.4463,A,L,0.235387,NaN
388,195,194701310TRH,NBA,0,1947,1/31/1947,35,0,TRH,Huskies,83,1209.3862,1225.0450,33.232540,WSC,Capitols,74,1461.7986,1446.1398,H,W,0.293726,NaN
397,199,194702020CHS,NBA,1,1947,2/2/1947,36,0,TRH,Huskies,75,1225.0450,1220.4349,32.767380,CHS,Stags,90,1361.9294,1366.5396,A,L,0.203653,NaN
413,207,194702050PIT,NBA,1,1947,2/5/1947,37,0,TRH,Huskies,58,1220.4349,1228.0629,33.538177,PIT,Ironmen,55,1213.8152,1206.1873,A,W,0.368760,NaN
419,210,194702060GSW,NBA,1,1947,2/6/1947,38,0,TRH,Huskies,61,1228.0629,1222.8718,33.012997,PHW,Warriors,79,1365.8291,1371.0201,A,L,0.202831,NaN
425,213,194702080NYK,NBA,1,1947,2/8/1947,39,0,TRH,Huskies,46,1222.8718,1212.2114,31.943153,NYK,Knicks,69,1249.8612,1260.5216,A,L,0.324973,NaN
453,227,194702140TRH,NBA,0,1947,2/14/1947,40,0,TRH,Huskies,84,1212.2114,1219.0802,32.631100,PIT,Ironmen,73,1197.4030,1190.5342,H,W,0.659460,NaN
467,234,194702160STB,NBA,1,1947,2/16/1947,41,0,TRH,Huskies,64,1219.0802,1214.0817,32.129955,STB,Bombers,80,1348.7775,1353.7760,A,L,0.210445,NaN
473,237,194702180TRH,NBA,0,1947,2/18/1947,42,0,TRH,Huskies,65,1214.0817,1224.5254,33.180000,STB,Bombers,57,1353.7760,1343.3323,H,W,0.443123,NaN
479,240,194702190WSC,NBA,1,1947,2/19/1947,43,0,TRH,Huskies,59,1224.5254,1222.2985,32.955151,WSC,Capitols,69,1447.2051,1449.4320,A,L,0.134995,NaN
490,246,194702210TRH,NBA,0,1947,2/21/1947,44,0,TRH,Huskies,67,1222.2985,1227.9174,33.523418,BOS,Celtics,61,1242.1201,1236.5012,H,W,0.613380,NaN
502,252,194702230DTF,NBA,1,1947,2/23/1947,45,0,TRH,Huskies,52,1227.9174,1221.7498,32.899826,DTF,Falcons,61,1239.2600,1245.4276,A,L,0.345034,NaN
513,257,194702250TRH,NBA,0,1947,2/25/1947,46,0,TRH,Huskies,83,1221.7498,1238.4550,34.597027,PRO,Steamrollers,60,1300.8777,1284.1725,H,W,0.530001,NaN
526,264,194702280TRH,NBA,0,1947,2/28/1947,47,0,TRH,Huskies,77,1238.4550,1248.7762,35.657406,PHW,Warriors,69,1374.6681,1364.3468,H,W,0.448073,NaN
528,265,194703010NYK,NBA,1,1947,3/1/1947,48,0,TRH,Huskies,48,1248.7762,1240.4922,34.805679,NYK,Knicks,63,1266.6016,1274.8856,A,L,0.336650,NaN
538,270,194703030GSW,NBA,1,1947,3/3/1947,49,0,TRH,Huskies,66,1240.4922,1236.5841,34.405716,PHW,Warriors,76,1359.1210,1363.0291,A,L,0.221227,NaN
547,274,194703050PIT,NBA,1,1947,3/5/1947,50,0,TRH,Huskies,63,1236.5841,1242.4812,35.009712,PIT,Ironmen,60,1151.3198,1145.4227,A,W,0.478806,NaN
557,279,194703070TRH,NBA,0,1947,3/7/1947,51,0,TRH,Huskies,70,1242.4812,1234.9574,34.239609,WSC,Capitols,86,1490.3058,1497.8296,H,L,0.299234,NaN
559,280,194703080BOS,NBA,1,1947,3/8/1947,52,0,TRH,Huskies,65,1234.9574,1231.6683,33.904453,BOS,Celtics,67,1230.1863,1233.4753,A,L,0.366286,NaN
575,288,194703110TRH,NBA,0,1947,3/11/1947,53,0,TRH,Huskies,79,1231.6683,1241.6997,34.929512,STB,Bombers,71,1359.5875,1349.5562,H,W,0.459907,NaN
576,289,194703120BOS,NBA,1,1947,3/12/1947,54,0,TRH,Huskies,57,1241.6997,1232.9845,34.038456,BOS,Celtics,69,1214.7625,1223.4777,A,L,0.396377,NaN
587,294,194703130PRO,NBA,1,1947,3/13/1947,55,0,TRH,Huskies,64,1232.9845,1228.4709,33.579575,PRO,Steamrollers,71,1280.2823,1284.7959,A,L,0.299870,NaN
603,302,194703180TRH,NBA,0,1947,3/18/1947,56,0,TRH,Huskies,64,1228.4709,1214.9231,32.214127,PIT,Ironmen,70,1141.9557,1155.5035,H,L,0.745294,NaN
616,309,194703210TRH,NBA,0,1947,3/21/1947,57,0,TRH,Huskies,83,1214.9231,1205.0825,31.234783,CHS,Stags,99,1403.7662,1413.6068,H,L,0.374860,NaN
628,315,194703230STB,NBA,1,1947,3/23/1947,58,0,TRH,Huskies,40,1205.0825,1200.0703,30.740387,STB,Bombers,60,1363.1570,1368.1692,A,L,0.184584,NaN
646,324,194703280TRH,NBA,0,1947,3/28/1947,59,0,TRH,Huskies,71,1200.0703,1212.3307,31.955053,NYK,Knicks,61,1347.7479,1335.4875,H,W,0.431814,NaN
649,325,194703290DTF,NBA,1,1947,3/29/1947,60,0,TRH,Huskies,63,1212.3307,1208.3134,31.555082,DTF,Falcons,66,1195.1040,1199.1213,A,L,0.383083,NaN

In [30]:
df.loc[df['fran_id']== 'Lakers'].head()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
1136,569,194811040BLB,NBA,1,1949,11/4/1948,1,0,MNL,Lakers,84,1527.0000,1542.2545,51.218754,BLB,Baltimore,72,1507.2052,1491.9507,A,W,0.386583,NaN
1152,577,194811060WSC,NBA,1,1949,11/6/1948,2,0,MNL,Lakers,62,1542.2545,1536.2078,50.621624,WSC,Capitols,67,1481.8721,1487.9188,A,L,0.443232,NaN
1159,580,194811090BOS,NBA,1,1949,11/9/1948,3,0,MNL,Lakers,55,1536.2078,1513.4880,48.341133,BOS,Celtics,77,1359.3345,1382.0542,A,L,0.608859,NaN
1170,586,194811110NYK,NBA,1,1949,11/11/1948,4,0,MNL,Lakers,77,1513.4880,1524.9596,49.499451,NYK,Knicks,68,1460.4232,1448.9517,A,W,0.432863,NaN
1183,592,194811130PRO,NBA,1,1949,11/13/1948,5,0,MNL,Lakers,90,1524.9596,1533.2726,50.330185,PRO,Steamrollers,67,1245.9456,1237.6326,A,W,0.737010,NaN

In [32]:
df.loc[df['fran_id']== 'Lakers', 'team_id']
#filter data berdasarakan fran_id yaitu Lakers
#pilih kollom yang mau di itung yaitu team_id

1136      MNL
1152      MNL
1159      MNL
1170      MNL
1183      MNL
         ...
126016    LAL
126052    LAL
126086    LAL
126115    LAL
126137    LAL
Name: team_id, Length: 6024, dtype: object

In [33]:
df.loc[df['fran_id']== 'Lakers', 'team_id'].value_counts()#dihitung jumlah data dengan value_counts()

LAL    5078
MNL     946
Name: team_id, dtype: int64

### CONTOH LAGI

In [34]:
df.loc[df['team_id']== 'TRH']

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.0000,1293.2767,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
10,6,194611030CLR,NBA,1,1947,11/3/1946,2,0,TRH,Huskies,60,1293.2767,1286.1534,39.548164,CLR,Rebels,71,1300.0000,1307.1233,A,L,0.351068,NaN
24,13,194611080TRH,NBA,0,1947,11/8/1946,3,0,TRH,Huskies,73,1286.1534,1289.1691,39.864174,DTF,Falcons,71,1271.4624,1268.4468,H,W,0.659309,NaN
26,14,194611090CHS,NBA,1,1947,11/9/1946,4,0,TRH,Huskies,54,1289.1691,1283.6519,39.286152,CHS,Stags,62,1309.7350,1315.2522,A,L,0.333136,NaN
49,25,194611150TRH,NBA,0,1947,11/15/1946,5,0,TRH,Huskies,85,1283.6519,1294.7554,40.449894,PRO,Steamrollers,68,1313.4436,1302.3401,H,W,0.599685,NaN
50,26,194611160BOS,NBA,1,1947,11/16/1946,6,0,TRH,Huskies,49,1294.7554,1290.0051,39.951809,BOS,Celtics,53,1267.1501,1271.9004,A,L,0.397298,NaN
64,33,194611180PIT,NBA,1,1947,11/18/1946,7,0,TRH,Huskies,48,1290.0051,1284.4910,39.374023,PIT,Ironmen,54,1274.5563,1280.0704,A,L,0.380668,NaN
69,35,194611190TRH,NBA,0,1947,11/19/1946,8,0,TRH,Huskies,72,1284.4910,1278.2225,38.718002,CLR,Rebels,74,1307.6647,1313.9331,H,L,0.608795,NaN
83,42,194611220TRH,NBA,0,1947,11/22/1946,9,0,TRH,Huskies,83,1278.2225,1280.6818,38.975250,BOS,Celtics,82,1257.9297,1255.4705,H,W,0.666514,NaN
91,46,194611230WSC,NBA,1,1947,11/23/1946,10,0,TRH,Huskies,50,1280.6818,1271.4497,38.010517,WSC,Capitols,74,1344.4468,1353.6788,A,L,0.280354,NaN
104,53,194611260TRH,NBA,0,1947,11/26/1946,11,0,TRH,Huskies,68,1271.4497,1260.3845,36.858685,WSC,Capitols,78,1353.6788,1364.7440,H,L,0.525552,NaN
120,61,194611290TRH,NBA,0,1947,11/29/1946,12,0,TRH,Huskies,72,1260.3845,1243.6194,35.126602,CLR,Rebels,87,1296.5641,1313.3292,H,L,0.590826,NaN
124,63,194611300PRO,NBA,1,1947,11/30/1946,13,0,TRH,Huskies,65,1243.6194,1236.2073,34.367218,PRO,Steamrollers,79,1275.6881,1283.1002,A,L,0.318592,NaN
147,74,194612050CHS,NBA,1,1947,12/5/1946,14,0,TRH,Huskies,65,1236.2073,1247.1405,35.488831,CHS,Stags,61,1317.2023,1306.2690,A,W,0.260785,NaN
157,79,194612070PRO,NBA,1,1947,12/7/1946,15,0,TRH,Huskies,68,1247.1405,1261.6240,36.987415,PRO,Steamrollers,59,1270.5713,1256.0878,A,W,0.329483,NaN
171,86,194612100TRH,NBA,0,1947,12/10/1946,16,0,TRH,Huskies,73,1261.6240,1247.6229,35.538528,PHW,Warriors,85,1308.3997,1322.4008,H,L,0.576002,NaN
185,93,194612130TRH,NBA,0,1947,12/13/1946,17,0,TRH,Huskies,52,1247.6229,1232.2332,33.961941,PIT,Ironmen,62,1225.3917,1240.7815,H,L,0.668990,NaN
197,99,194612150STB,NBA,1,1947,12/15/1946,18,0,TRH,Huskies,50,1232.2332,1243.2317,35.086777,STB,Bombers,46,1315.6809,1304.6824,A,W,0.258073,NaN
201,101,194612170CLR,NBA,1,1947,12/17/1946,19,0,TRH,Huskies,62,1243.2317,1236.3962,34.386520,CLR,Rebels,78,1310.9967,1317.8322,A,L,0.275732,NaN
215,108,194612200TRH,NBA,0,1947,12/20/1946,20,0,TRH,Huskies,74,1236.3962,1242.9735,35.060261,NYK,Knicks,70,1347.1748,1340.5975,H,W,0.484493,NaN
236,119,194612270TRH,NBA,0,1947,12/27/1946,21,0,TRH,Huskies,80,1242.9735,1233.9374,34.135567,CHS,Stags,88,1344.2667,1353.3029,H,L,0.498139,NaN
245,123,194612290DTF,NBA,1,1947,12/29/1946,22,0,TRH,Huskies,52,1233.9374,1244.1897,35.185211,DTF,Falcons,48,1289.3090,1279.0566,A,W,0.290205,NaN
254,128,194612310TRH,NBA,0,1947,12/31/1946,23,0,TRH,Huskies,86,1244.1897,1255.3428,36.335934,CHS,Stags,76,1364.1989,1353.0458,H,W,0.471236,NaN
267,134,194701030TRH,NBA,0,1947,1/3/1947,24,0,TRH,Huskies,53,1255.3428,1243.7212,35.137066,BOS,Celtics,58,1192.7406,1204.3622,H,L,0.718294,NaN
281,141,194701060TRH,NBA,0,1947,1/6/1947,25,0,TRH,Huskies,76,1243.7212,1253.9355,36.190292,DTF,Falcons,61,1273.7080,1263.4937,H,W,0.599415,NaN
284,143,194701080NYK,NBA,1,1947,1/8/1947,26,0,TRH,Huskies,76,1253.9355,1275.9305,38.478409,NYK,Knicks,63,1350.6637,1328.6687,A,W,0.243708,NaN
291,146,194701090GSW,NBA,1,1947,1/9/1947,27,0,TRH,Huskies,55,1275.9305,1266.9520,37.541653,PHW,Warriors,74,1311.1245,1320.1030,A,L,0.314700,NaN
302,152,194701110WSC,NBA,1,1947,1/11/1947,28,0,TRH,Huskies,66,1266.9520,1263.2552,37.156956,WSC,Capitols,81,1445.0814,1448.7782,A,L,0.167836,NaN
312,157,194701140TRH,NBA,0,1947,1/14/1947,29,0,TRH,Huskies,74,1263.2552,1237.1625,34.464828,PHW,Warriors,104,1312.5405,1338.6333,H,L,0.572470,NaN
326,164,194701170TRH,NBA,0,1947,1/17/1947,30,0,TRH,Huskies,64,1237.1625,1224.1240,33.139439,DTF,Falcons,74,1270.5358,1283.5742,H,L,0.594725,NaN
342,172,194701210TRH,NBA,0,1947,1/21/1947,31,0,TRH,Huskies,72,1224.1240,1228.7662,33.609535,STB,Bombers,71,1363.3656,1358.7234,H,W,0.443766,NaN
357,179,194701240TRH,NBA,0,1947,1/24/1947,32,0,TRH,Huskies,93,1228.7662,1221.6459,32.889355,PRO,Steamrollers,96,1257.8400,1264.9603,H,L,0.600676,NaN
372,187,194701270TRH,NBA,0,1947,1/27/1947,33,0,TRH,Huskies,82,1221.6459,1213.5844,32.080246,CLR,Rebels,88,1310.1866,1318.2482,H,L,0.516485,NaN
375,188,194701280CLR,NBA,1,1947,1/28/1947,34,0,TRH,Huskies,70,1213.5844,1209.3862,31.661716,CLR,Rebels,80,1318.2482,1322.4463,A,L,0.235387,NaN
388,195,194701310TRH,NBA,0,1947,1/31/1947,35,0,TRH,Huskies,83,1209.3862,1225.0450,33.232540,WSC,Capitols,74,1461.7986,1446.1398,H,W,0.293726,NaN
397,199,194702020CHS,NBA,1,1947,2/2/1947,36,0,TRH,Huskies,75,1225.0450,1220.4349,32.767380,CHS,Stags,90,1361.9294,1366.5396,A,L,0.203653,NaN
413,207,194702050PIT,NBA,1,1947,2/5/1947,37,0,TRH,Huskies,58,1220.4349,1228.0629,33.538177,PIT,Ironmen,55,1213.8152,1206.1873,A,W,0.368760,NaN
419,210,194702060GSW,NBA,1,1947,2/6/1947,38,0,TRH,Huskies,61,1228.0629,1222.8718,33.012997,PHW,Warriors,79,1365.8291,1371.0201,A,L,0.202831,NaN
425,213,194702080NYK,NBA,1,1947,2/8/1947,39,0,TRH,Huskies,46,1222.8718,1212.2114,31.943153,NYK,Knicks,69,1249.8612,1260.5216,A,L,0.324973,NaN
453,227,194702140TRH,NBA,0,1947,2/14/1947,40,0,TRH,Huskies,84,1212.2114,1219.0802,32.631100,PIT,Ironmen,73,1197.4030,1190.5342,H,W,0.659460,NaN
467,234,194702160STB,NBA,1,1947,2/16/1947,41,0,TRH,Huskies,64,1219.0802,1214.0817,32.129955,STB,Bombers,80,1348.7775,1353.7760,A,L,0.210445,NaN
473,237,194702180TRH,NBA,0,1947,2/18/1947,42,0,TRH,Huskies,65,1214.0817,1224.5254,33.180000,STB,Bombers,57,1353.7760,1343.3323,H,W,0.443123,NaN
479,240,194702190WSC,NBA,1,1947,2/19/1947,43,0,TRH,Huskies,59,1224.5254,1222.2985,32.955151,WSC,Capitols,69,1447.2051,1449.4320,A,L,0.134995,NaN
490,246,194702210TRH,NBA,0,1947,2/21/1947,44,0,TRH,Huskies,67,1222.2985,1227.9174,33.523418,BOS,Celtics,61,1242.1201,1236.5012,H,W,0.613380,NaN
502,252,194702230DTF,NBA,1,1947,2/23/1947,45,0,TRH,Huskies,52,1227.9174,1221.7498,32.899826,DTF,Falcons,61,1239.2600,1245.4276,A,L,0.345034,NaN
513,257,194702250TRH,NBA,0,1947,2/25/1947,46,0,TRH,Huskies,83,1221.7498,1238.4550,34.597027,PRO,Steamrollers,60,1300.8777,1284.1725,H,W,0.530001,NaN
526,264,194702280TRH,NBA,0,1947,2/28/1947,47,0,TRH,Huskies,77,1238.4550,1248.7762,35.657406,PHW,Warriors,69,1374.6681,1364.3468,H,W,0.448073,NaN
528,265,194703010NYK,NBA,1,1947,3/1/1947,48,0,TRH,Huskies,48,1248.7762,1240.4922,34.805679,NYK,Knicks,63,1266.6016,1274.8856,A,L,0.336650,NaN
538,270,194703030GSW,NBA,1,1947,3/3/1947,49,0,TRH,Huskies,66,1240.4922,1236.5841,34.405716,PHW,Warriors,76,1359.1210,1363.0291,A,L,0.221227,NaN
547,274,194703050PIT,NBA,1,1947,3/5/1947,50,0,TRH,Huskies,63,1236.5841,1242.4812,35.009712,PIT,Ironmen,60,1151.3198,1145.4227,A,W,0.478806,NaN
557,279,194703070TRH,NBA,0,1947,3/7/1947,51,0,TRH,Huskies,70,1242.4812,1234.9574,34.239609,WSC,Capitols,86,1490.3058,1497.8296,H,L,0.299234,NaN
559,280,194703080BOS,NBA,1,1947,3/8/1947,52,0,TRH,Huskies,65,1234.9574,1231.6683,33.904453,BOS,Celtics,67,1230.1863,1233.4753,A,L,0.366286,NaN
575,288,194703110TRH,NBA,0,1947,3/11/1947,53,0,TRH,Huskies,79,1231.6683,1241.6997,34.929512,STB,Bombers,71,1359.5875,1349.5562,H,W,0.459907,NaN
576,289,194703120BOS,NBA,1,1947,3/12/1947,54,0,TRH,Huskies,57,1241.6997,1232.9845,34.038456,BOS,Celtics,69,1214.7625,1223.4777,A,L,0.396377,NaN
587,294,194703130PRO,NBA,1,1947,3/13/1947,55,0,TRH,Huskies,64,1232.9845,1228.4709,33.579575,PRO,Steamrollers,71,1280.2823,1284.7959,A,L,0.299870,NaN
603,302,194703180TRH,NBA,0,1947,3/18/1947,56,0,TRH,Huskies,64,1228.4709,1214.9231,32.214127,PIT,Ironmen,70,1141.9557,1155.5035,H,L,0.745294,NaN
616,309,194703210TRH,NBA,0,1947,3/21/1947,57,0,TRH,Huskies,83,1214.9231,1205.0825,31.234783,CHS,Stags,99,1403.7662,1413.6068,H,L,0.374860,NaN
628,315,194703230STB,NBA,1,1947,3/23/1947,58,0,TRH,Huskies,40,1205.0825,1200.0703,30.740387,STB,Bombers,60,1363.1570,1368.1692,A,L,0.184584,NaN
646,324,194703280TRH,NBA,0,1947,3/28/1947,59,0,TRH,Huskies,71,1200.0703,1212.3307,31.955053,NYK,Knicks,61,1347.7479,1335.4875,H,W,0.431814,NaN
649,325,194703290DTF,NBA,1,1947,3/29/1947,60,0,TRH,Huskies,63,1212.3307,1208.3134,31.555082,DTF,Falcons,66,1195.1040,1199.1213,A,L,0.383083,NaN

### TADI KELEWAT SAMPE SINI

### QEURY

In [35]:
df.head()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.0000,1293.2767,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.0000,1306.7233,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,1300.0000,1309.6521,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,1306.7233,1297.0712,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1300.0000,1279.6189,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN

In [36]:
df[
    (df['year_id'] > 1950) &
    (df['fran_id'] == 'Knicks') &
    (df['pts'] > 150)
]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
9274,4638,195912110NYK,NBA,0,1960,12/11/1959,23,0,NYK,Knicks,152,1455.3502,1481.0966,37.764519,SYR,Sixers,121,1594.9003,1569.1539,H,W,0.443327,NaN
20785,10393,197002130PHI,NBA,1,1970,2/13/1970,63,0,NYK,Knicks,151,1646.8032,1673.8684,61.501518,PHI,Sixers,106,1523.8624,1496.7972,A,W,0.532967,NaN
103990,51996,200612270NYK,NBA,0,2007,12/27/2006,31,0,NYK,Knicks,151,1391.4535,1403.1624,31.006033,DET,Pistons,145,1621.2067,1609.4978,H,W,0.321493,NaN

In [38]:
# CARi team id BLB 
# yang main di tahun 1953
# pts/poin lawan lebih dari 100
# pts/poin lebih dari 100

#JAWAB
df[
    (df['team_id'] == 'BLB') &
    (df['year_id'] == 1953) &
    (df['opp_pts'] > 100 ) &
    (df['pts'] > 100)
]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
4890,2446,195301100BLB,NBA,0,1953,1/10/1953,32,0,BLB,Baltimore,126,1328.6687,1356.6470,25.797792,BOS,Celtics,105,1591.1434,1563.1652,H,W,0.281855,NaN
4909,2455,195301140BLB,NBA,0,1953,1/14/1953,34,0,BLB,Baltimore,104,1349.8323,1346.3594,24.876236,MNL,Lakers,112,1665.4396,1668.9125,H,L,0.224238,NaN
5208,2605,195303110BLB,NBA,0,1953,3/11/1953,66,0,BLB,Baltimore,107,1284.5239,1282.2396,19.579676,NYK,Knicks,113,1649.1516,1651.4359,H,L,0.178973,at Boston MA

In [39]:
#CARA KEDUA
df.query(" team_id == 'BLB' & year_id == 1953 & opp_pts > 100 & pts > 100 ")

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
4890,2446,195301100BLB,NBA,0,1953,1/10/1953,32,0,BLB,Baltimore,126,1328.6687,1356.6470,25.797792,BOS,Celtics,105,1591.1434,1563.1652,H,W,0.281855,NaN
4909,2455,195301140BLB,NBA,0,1953,1/14/1953,34,0,BLB,Baltimore,104,1349.8323,1346.3594,24.876236,MNL,Lakers,112,1665.4396,1668.9125,H,L,0.224238,NaN
5208,2605,195303110BLB,NBA,0,1953,3/11/1953,66,0,BLB,Baltimore,107,1284.5239,1282.2396,19.579676,NYK,Knicks,113,1649.1516,1651.4359,H,L,0.178973,at Boston MA

### GROUPING and Aggregating Data

In [41]:
df.groupby('fran_id')['pts'].sum()

fran_id
Baltimore        37219
Bombers          17793
Bucks           418326
Bulls           437269
Capitols         22387
Cavaliers       380416
Celtics         626484
Clippers        380523
Colonels         94435
Condors          49642
Denver            4818
Falcons           3797
Floridians       49568
Grizzlies       157683
Hawks           567261
Heat            229103
Hornets          84489
Huskies           3995
Ironmen           3674
Jazz            363155
Jets              4482
Kings           569245
Knicks          582497
Lakers          637444
Magic           219436
Mavericks       309239
Nets            417809
Nuggets         445780
Olympians        22864
Pacers          438288
Packers           6193
Pelicans        220794
Pistons         572758
Raptors         158370
Rebels            4474
Redskins          5372
Rockets         432504
Sails            30080
Sixers          585891
Sounds           75582
Spirits          85874
Spurs           453822
Squires          91127
Stags            20398
Stars            84940
Steamrollers     12372
Suns            437486
Thunder         437735
Timberwolves    207693
Trailblazers    402695
Warriors        591224
Waterloo          4921
Wizards         474809
Name: pts, dtype: int64

In [42]:
df.groupby('fran_id')['pts'].sum().head()

fran_id
Baltimore     37219
Bombers       17793
Bucks        418326
Bulls        437269
Capitols      22387
Name: pts, dtype: int64

In [44]:
df[
    (df['year_id'] > 2010) &
    (df['fran_id'] == 'Knicks') 
].groupby('year_id')['pts'].sum()

year_id
2011    9097
2012    6872
2013    9259
2014    8084
2015    7535
Name: pts, dtype: int64

In [45]:
df[
    (df['year_id'] > 2010) &
    (df['fran_id'] == 'Knicks') 
].groupby(['year_id','game_location'])['pts'].sum()

year_id  game_location
2011     A                4480
         H                4617
2012     A                3420
         H                3452
2013     A                4404
         H                4753
         N                 102
2014     A                3986
         H                4098
2015     A                3706
         H                3750
         N                  79
Name: pts, dtype: int64

In [46]:
df[
    (df['year_id'] > 2010) &
    (df['fran_id'] == 'Knicks') 
].groupby(['game_location','year_id'])['pts'].sum()

game_location  year_id
A              2011       4480
               2012       3420
               2013       4404
               2014       3986
               2015       3706
H              2011       4617
               2012       3452
               2013       4753
               2014       4098
               2015       3750
N              2013        102
               2015         79
Name: pts, dtype: int64

### Manipulating Columns
## df baru karena semisal kita sebelumnya telah hapus maupun update

In [47]:
df

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.0000,1293.2767,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.0000,1306.7233,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,1300.0000,1309.6521,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,1306.7233,1297.0712,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1300.0000,1279.6189,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,82,1723.4149,1704.3949,60.309792,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,104,1809.9791,1813.6349,68.013329,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,91,1704.3949,1700.7391,60.010067,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,97,1700.7391,1692.0859,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,105,1813.6349,1822.2881,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550,NaN

In [3]:
nba = df.copy() #copy dataframe df

In [49]:
nba.head()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.0000,1293.2767,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.0000,1306.7233,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,1300.0000,1309.6521,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,1306.7233,1297.0712,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1300.0000,1279.6189,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN

In [ ]:
nba.drop('elo_i', axis=1) #hapus data, tapi ga permanen, jadi itu yang dikasi liat cuma preview
#cara hapus permanen nba.drop('elo_i', axis=1, inplace=True)
#atau bisa juga dimasukkan variable nba_tanpa_elo_i = nba.drop('elo_i', axis=1, inplace=True)
#jadi kita bisa akses data di nba_tanpa_elo_i

In [50]:
#rename
nba.rename(columns={'game_location':'location','game_result':'result'})
# masi sama, pake inplace atau masukkan ke variabel baru

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,location,result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.0000,1293.2767,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.0000,1306.7233,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,1300.0000,1309.6521,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,1306.7233,1297.0712,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1300.0000,1279.6189,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,82,1723.4149,1704.3949,60.309792,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,104,1809.9791,1813.6349,68.013329,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,91,1704.3949,1700.7391,60.010067,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,97,1700.7391,1692.0859,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,105,1813.6349,1822.2881,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550,NaN

In [51]:
nba.head(2)

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.0,1293.2767,40.29483,NYK,Knicks,68,1300.0,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.0,1306.7233,41.70517,TRH,Huskies,66,1300.0,1293.2767,A,W,0.359935,NaN

### Hari ke 5 Week 1

### Specifying Data Types

In [10]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  elo_i          126314 non-null  float64
 12  elo_n          126314 non-null  float64
 13  win_equiv      126314 non-null  float64
 14  opp_id         126314 non-null  object
 15  opp_fran       126314 non-null  object
 16  opp_pts        126314 non-null  int64
 17  opp_elo_i      126314 non-null  float64
 18  opp_elo_n      126314 non-null  float64
 19  game_location  126314 non-null  object
 20  game_result    126314 non-null  object
 21  forecast       126314 non-null  float64
 22  notes          5424 non-null    object
dtypes: float64(6), int64(7), object(10)
memory usage: 22.2+ MB

In [11]:
nba["date_game"] = pd.to_datetime(nba["date_game"]) #ubah tipeda yang sebelumnya object
                                                    # menjadi date time series

In [12]:
nba['game_location'].nunique() #menampilkan by number nya saja/jumlahnya saja

3

In [13]:
nba['game_location'].unique() #ditampilaknkan isinya

array(['H', 'A', 'N'], dtype=object)

In [14]:
nba['game_location'].value_counts() #ditampilan uniqe isi dan jumlahnya

H    63138
A    63138
N       38
Name: game_location, dtype: int64

In [15]:
nba['game_location']= pd.Categorical(nba["game_location"])#ubah tipe data game_location to Categorical

In [16]:
nba['game_location'].dtype # jadi ada kategori A, kategori H, kategori N

CategoricalDtype(categories=['A', 'H', 'N'], ordered=False)

In [17]:
# kelebihannya memory bisa menurun, setelah ubah ke Categorical
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  datetime64[ns]
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  elo_i          126314 non-null  float64
 12  elo_n          126314 non-null  float64
 13  win_equiv      126314 non-null  float64
 14  opp_id         126314 non-null  object
 15  opp_fran       126314 non-null  object
 16  opp_pts        126314 non-null  int64
 17  opp_elo_i      126314 non-null  float64
 18  opp_elo_n      126314 non-null  float64
 19  game_location  126314 non-null  category
 20  game_result    126314 non-null  object
 21  forecast       126314 non-null  float64
 22  notes          5424 non-null    object
dtypes: category(1), datetime64[ns](1), float64(6), int64(7), object(8)
memory usage: 21.3+ MB

### Missing Value
## NaN NotaNumber

In [4]:
rows_without_missing_data = nba.dropna() #ngikut paling sedikit

In [6]:
rows_without_missing_data.shape

(5424, 23)

In [7]:
data_without_missing_columns = nba.dropna(axis=1) #drop by columns
                                                    #ngikut paling banyak

In [8]:
data_without_missing_columns.shape

(126314, 22)

In [9]:
data_with_default_notes = nba.copy()

In [10]:
data_with_default_notes["notes"].fillna(
    value="no notes at all",
    inplace=True
)

In [11]:
data_with_default_notes["notes"].describe()

count              126314
unique                232
top       no notes at all
freq               120890
Name: notes, dtype: object

## Invalid Values/ anomali/aneh/ga normal/ misal tinggi melebihi 3meter,seharusnya 100-200cm

In [12]:
nba.describe()

,gameorder,_iscopy,year_id,seasongame,is_playoffs,pts,elo_i,elo_n,win_equiv,opp_pts,opp_elo_i,opp_elo_n,forecast
count,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000,126314.000000
mean,31579.000000,0.500000,1988.200374,43.533733,0.063857,102.729982,1495.236055,1495.236055,41.707889,102.729982,1495.236055,1495.236055,0.500000
std,18231.927643,0.500002,17.582309,25.375178,0.244499,14.814845,112.139945,112.461687,10.627332,14.814845,112.139945,112.461687,0.215252
min,1.000000,0.000000,1947.000000,1.000000,0.000000,0.000000,1091.644500,1085.774400,10.152501,0.000000,1091.644500,1085.774400,0.020447
25%,15790.000000,0.000000,1975.000000,22.000000,0.000000,93.000000,1417.237975,1416.994900,34.103035,93.000000,1417.237975,1416.994900,0.327989
50%,31579.000000,0.500000,1990.000000,43.000000,0.000000,103.000000,1500.945550,1500.954400,42.113357,103.000000,1500.945550,1500.954400,0.500000
75%,47368.000000,1.000000,2003.000000,65.000000,0.000000,112.000000,1576.060000,1576.291625,49.635328,112.000000,1576.060000,1576.291625,0.672011
max,63157.000000,1.000000,2015.000000,108.000000,1.000000,186.000000,1853.104500,1853.104500,71.112038,186.000000,1853.104500,1853.104500,0.979553

In [13]:
nba[nba["pts"] == 0]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
26684,13343,197210260VIR,ABA,1,1973,10/26/1972,7,0,DNR,Nuggets,...,40.408863,VIR,Squires,2,1484.1907,1487.083,A,L,0.328948,at Richmond VA; forfeit to VIR

## Visualizing DataFrame

In [ ]:
# import matplotlib.pyplot as plt # Dasarnya